<div style="padding: 20px;">
    <h2>Add a product</h2>
    <div>
      <label>Name:
        <input [(ngModel)]="product.name" placeholder="name"/>
      </label>
    </div>
    <div>
      <label>Description:
        <input [(ngModel)]="product.description" placeholder="description"/>
      </label>
    </div>
    <div>
      <label>Price:
        <input [(ngModel)]="product.price" placeholder="price"/>
      </label>
    </div>
    <div>
      <label>ImageUrl:
        <input [(ngModel)]="product.imageUrl" placeholder="imageUrl"/>
      </label>
    </div>
    <div>
      <label>Quantity:
        <input [(ngModel)]="product.quantity" placeholder="quantity"/>
      </label>
    </div>
    <button (click)="add()">Add</button>
    <br>
    <button (click)="goBack()">Go Back</button>
</div>